.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 94px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: 2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
.is-hidden.modal {
  transform: translate(-50%, 0) 2s, scale(0.5) 2s;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  display: block;
  border-radius: 4px;
  background-color: #ffffff;
  stroke: 1px Solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s scale(1) 2s;
  z-index: 4;
  @include for-size(desktop) {
    width: 528px;
    height: 581px;
  }
}
.close {
  position: absolute;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  fill: #000000;
  z-index: 5;

  &:hover,
  &:focus {
    fill: $accent-cl;
    cursor: pointer;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}

.modal-title {
  position: absolute;
  top: 60px;
  left: 40px;
  width: 100%;
  width: 370px;
  height: 60px;
  font-family: $main-font, sans-serif;
  font-style: normal;
  @include fonts(700, 20px, 23px, 0.03em);
  text-align: center;
  color: $black;
  z-index: 5;
  @include for-size(desktop) {
    top: 60px;
    width: 448px;
    height: 23px;
  }
}

.modal-label {
  position: absolute;
  display: block;
  left: 40px;
  font-family: $main-font, sans-serif;
  font-style: normal;
  @include fonts(400, 12px, 14px, 0.01em);
  color: $main-text;

  &:focus-within > .modal-input {
    border: 1px solid $accent-cl;
    border-radius: 4px;
    fill: $accent-cl;
    outline: transparent;
  }
}
.name {
  top: 130px;
  @include for-size(desktop) {
    top: 93px;
  }
}
.phone {
  top: 198px;
  @include for-size(desktop) {
    top: 161px;
  }
}
.mail {
  top: 266px;
  @include for-size(desktop) {
    top: 229px;
  }
}
.message {
  top: 334px;
  @include for-size(desktop) {
    top: 297px;
  }
}
.svg {
  position: absolute;
  display: inline-block;
  top: 17px;
  left: 0px;
  padding: 10px;
  fill: $black;
  z-index: 5;
}
.modal-input {
  position: absolute;
  display: block;
  margin-top: 4px;
  padding-left: 40px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  @include for-size(desktop) {
    width: 448px;
  }

  &:hover {
    cursor: pointer;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
  &:focus + .svg {
    fill: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }

  &.message-input {
    height: 120px;
    padding: 12px 16px;
    resize: none;
  }
}
.message-input::placeholder {
  font-family: $main-font, sans-serif;
  font-style: normal;
  @include fonts(400, 12px, 1.17, 0.01em);
  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
  position: absolute;
  display: inline-flex;
  align-items: center;
  left: 67px;
  bottom: 110px;
  font-family: $main-font, sans-serif;
  font-style: normal;
  @include fonts(400, 12px, 1.71, 0.03em);
  color: $main-text;
  @include for-size(desktop) {
    @include fonts(400, 14px, 1.71, 0.03em);
    bottom: 120px;
    left: 77px;
  }
}

.check-box {
  position: absolute;
  left: -28px;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid $black;
  border-radius: 2px;
  @include for-size(desktop) {
    left: -23px;
  }
}
.check-input {
  position: absolute;
  left: -33px;
  &:checked + .check-box {
    border-color: transparent;
    background-color: $accent-cl;
    background-image: url('../img/modal/check.svg');
    background-size: contain;
    background-origin: border-box;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
  &:checked:focus + .check-box {
    background-color: $accent-cl;
    fill: $white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}
.contract {
  padding-left: 3px;
  font-family: $main-font, sans-serif;
  font-style: normal;
  @include fonts(400, 12px, 1.71, 0.03em);
  color: $accent-cl;
  @include for-size(desktop) {
    @include fonts(400, 14px, 1.71, 0.03em);
  }
}
.btn-submit {
  position: absolute;
  left: 135px;
  bottom: 40px;
  width: 200px;
  height: 50px;
  font-family: $main-font, sans-serif;
  font-style: normal;
  @include fonts(700, 16px, 1.87, 0.06em);
  color: $white;
  background-color: $accent-cl;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  @include for-size(desktop) {
    left: 164px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}
