.footer-subscribe {
  justify-content: center;
  padding-top: 60px;

  height: 86;
  @include for-size(desktop) {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-top: 15px;
    margin-left: 93px;
    width: 570px;
  }
}
.subscribe-form {
  @include for-size(desktop) {
    display: flex;
    flex-direction: row;
    // flex-direction: column;
  }
}
.mail-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-family: $main-font, sans-serif;
  font-style: normal;
  @include fonts(400, 16px, 1.25, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--dark-bg);
  @include for-size(desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 358px;
    margin-bottom: 40px;
  }

  &::placeholder {
    font-family: $main-font, sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }
}
.btn-send {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 10px 29px;

  font-family: $main-font, sans-serif;
  font-style: 700;
  @include fonts(bold, 16px, 1.87, 0.06em);
  background-color: $accent-cl;
  color: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  @include for-size(desktop) {
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    margin-bottom: 40px;
  }

  &:hover .send-svg,
  &:focus .send-svg {
    fill: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
  &:hover,
  &:focus {
    background-color: $white;
    color: $accent-cl;
    cursor: pointer;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}
.send-svg {
  margin-left: 10px;
  fill: $white;
}
