html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid red;
}

h1,
h2,
h3,
p {
  margin: 0;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section.work {
  display: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: $main-font, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text;
}
ul {
  margin: 0px;
  padding: 0px;
}
.section-title {
  font-family: $main-font, sans-serif;
  @include fonts(700, 36px, 1.167, 0.03);
  text-align: center;
  color: $black;
  margin-bottom: 50px;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}
