//colors
$main-text: #757575;
$accent-cl: #2196f3;
$black: #212121;
$grey: rgba(255, 255, 255, 0.6);
$white: #ffffff;
$dark-bg: #2f303a;
$creamy: #f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
//fonts
$main-font: Roboto;
$logo-font: Raleway;
