.logo-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  @include for-size(desktop) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  @include for-size(mobile-only) {
    min-width: 210px;
    flex-basis: calc(100% / 2 - 30px);
    // &:nth-last-child(-n + 2) {
    //   margin-bottom: 0px;
    // }
  }
  @include for-size(tablet) {
    width: 226px;
    flex-basis: calc(100% / 3 - 30px);
    // &:nth-last-child(-n + 3) {
    //   margin-bottom: 0px;
    // }
  }

  @include for-size(desktop) {
    width: 170px;
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    border-color: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
  &:hover .icon,
  &:focus .icon {
    fill: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}
.icon {
  fill: #afb1b8;
}
