.logo-set {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
}

.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
  &:hover .icon,
  &:focus .icon {
    fill: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}
.icon {
  fill: #afb1b8;
}
