.logo-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // @media screen and(max-width: 479px) {
  //   display: block;
  //   justify-content: center;
  // }
  @include for-size(desktop) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 210px;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  @media screen and(min-width:480px) and(max-width:767px) {
    min-width: 210px;
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 5px;
    margin-left: 10px;
    // &:nth-child(2n) {
    //   margin-right: 0px;
  }

  @media screen and(min-width:768px) and(max-width:1199px) {
    width: 226px;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 10px;
    margin-left: 10px;
    // &:nth-child(3n) {
    //   margin-right: 0px;
    // }
  }

  @include for-size(desktop) {
    width: 170px;
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
    &:nth-child(6n) {
      margin-right: 0px;
    }
  }
  // .client-link {
  //   height: 90px;
  //   width: 210px;
  // }
}
.client-link {
  &:hover,
  &:focus {
    border-color: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
  &:hover .icon,
  &:focus .icon {
    fill: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}
.icon {
  fill: #afb1b8;
}
