@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-features {
    display: flex;
    flex-wrap: wrap;

    & .list-item {
      width: calc((100% - 30px) / 2);
      margin-bottom: 30px;
    }

    & .list-item:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
}
.features {
  @include for-size(desctop) {
    padding-top: 94px;
  }
}
.list-item {
  list-style: none;
}

.menu-features {
  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
  }

  & .list-item {
    @include for-size(desktop) {
      width: calc((100% - 90px) / 4);
    }
  }
  & .list-item::before {
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-color: $creamy;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
}
.icon-antenna::before {
  background-image: url(../img/antenna.svg);
}
.icon-clock::before {
  background-image: url(../img/clock.svg);
}
.icon-diagram::before {
  background-image: url(../img/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../img/astronaut.svg);
}

.menu-features .title {
  margin-bottom: 10px;
}
.title {
  min-height: 16px;
  font-family: $main-font, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $black;
}
.text {
  min-height: 75px;
  color: $main-text;
}
