.page-header {
  border-bottom: 1px solid #ececec;
}
.mobile-header {
  @include for-size(mobile-only) {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $white;
    flex-direction: column;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    transition: 1.5s;
    z-index: 1;
  }

  &.is-hidden {
    @include for-size(mobile-only) {
      transform: translateY(-150%);
      transition: 1.5s;
    }
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include for-size(desktop) {
    width: 100%;
  }
}
.header-conteiner {
  @include for-size(mobile-only) {
    position: relative;
  }
  display: flex;
  align-items: center;
  justify-items: flex-end;
}

.header-logo {
  @include for-size(mobile-only) {
    padding-top: 16px;
    padding-bottom: 16px;
    @include fonts(bold, 24px, 1.19, 0.03em);
  }
  font-family: $logo-font, sans-serif;
  text-decoration: none;
  font-style: normal;
  @include fonts(bold, 26px, 1.19, 0.03em);
  color: $black;
}
.web-logo {
  color: $accent-cl;
}
.btn-close {
  &.is-hidden {
    display: none;
  }
}
.btn-open {
  &.is-hidden {
    display: none;
  }
}
.mobile-menu-btn {
  display: none;

  @include for-size(mobile-only) {
    display: block;
    margin-left: auto;
    background-color: white;
    border: transparent;
  }
}

.navigation {
  @include for-size(tablet) {
    margin-left: 93px;
  }
}
.menu {
  @include for-size(mobile-only) {
    margin-bottom: 20px;
    flex-direction: column;
  }
  @include for-size(tablet) {
    margin-right: 40px;
  }

  display: flex;
  padding: 0;
  margin: 0;

  & .link {
    position: relative;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    @include for-size(mobile-only) {
      padding: 0;
    }
  }
}
.menu .link {
  @include for-size(mobile-only) {
    margin-bottom: 40px;
    padding-bottom: 8px;
  }
}
.menu-item {
  list-style: none;
  @include for-size(mobile-only) {
    padding: 0;
    margin-right: 0;
    text-align: center;
  }
  &:last-child {
    @include for-size(mobile-only) {
      margin-bottom: 0px;
    }
  }

  &:not(:last-child) {
    @include for-size(tablet) {
      margin-right: 50px;
    }
  }
}

.menu-item .link {
  @include for-size(desktop) {
    display: block;
    align-items: center;
  }
}
.link {
  font-style: normal;
  text-decoration: none;
  @include fonts(500, 14px, 1.14, 0.02em);
  color: $black;

  &:hover,
  &:focus {
    color: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
  &:hover::after,
  &:focus::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-cl;
    bottom: 0;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}
.current {
  color: $accent-cl;

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-cl;
    bottom: 0;
  }
}

.conect-nav {
  @include for-size(mobile-only) {
    display: flex;
    flex-direction: column;
  }
  @include for-size(tablet) {
    margin-left: auto;
  }
  // @include for-size(desktop) {
  //}

  // & .link + .link {
  //   margin-left: 50px;
  // }
  // &.smartphone {
  //   margin-top: 32px;
  //   margin-bottom: 32px;
  // }
  @include for-size(desktop) {
    & .link + .link {
      margin-left: 50px;
    }
    &.smartphone {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}
.header-conect {
  display: inline-block;
  flex-direction: row;
  justify-items: legacy;
  color: $main-text;
  &:first-child {
    @include for-size(mobile-only) {
      margin-bottom: 16px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-cl;
    transition-duration: $time;
    transition-timing-function: $timing-function;
  }
}

.header-svg {
  margin-right: 10px;
  fill: currentColor;
}
