.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  @include for-size(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  @include for-size(mobile-only) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/images-hero/hero-480.jpg);
    max-width: 480px;
    height: 400px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/images-hero/hero-480-2x.jpg);
    }
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include for-size(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/images-hero/hero-768.jpg);
    max-width: 768px;
    height: 400px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/images-hero/hero-768-2x.jpg);
    }
  }

  @include for-size(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/images-hero/hero-1200.jpg);
    max-width: 1600px;
    height: 600px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/images-hero/hero-1200-2x.jpg);
    }
  }
}
.hero-title {
  margin-bottom: 30px;
  font-family: $main-font, sans-serif;
  @include fonts(900, 26px, 1.62, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: $white;

  @include for-size(desktop) {
    @include fonts(900, 44px, 1.36, 0.06em);
  }
}
.btn {
  display: inline-block;
  outline: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;

  font-family: $main-font, sans-serif;
  @include fonts(bold, 16px, 1.87, 0.06em);
  text-decoration: none;
  color: $white;
  background-color: $accent-cl;
}
