.team {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  @include fonts(500, 16px, 1.87, 0.03em);
  color: $black;
}

.team-item {
  @include for-size(mobile-only) {
    width: 100%;
    max-width: 450px;
    max-height: 468px;
    margin-bottom: 30px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  &.team-item {
    @include for-size(tablet) {
      width: calc(100% / 2 - 30px);
      margin-bottom: 30px;
      margin-left: 30px;
      &:nth-last-child(-n + 2) {
        margin-bottom: 0px;
      }
    }
  }
}
.team-list {
  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-item {
  @include for-size(desktop) {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 0;
  }
}
.team-item {
  list-style: none;
  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px 32px;
}
.profession {
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  @include fonts(normal, 16px, 1.187, 0.03em);
  color: $main-text;
}
.creamy-bg {
  background-color: $creamy;
}
