.team {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  @include fonts(500, 16px, 1.87, 0.03em);
  color: $black;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-item {
  margin-left: 30px;
  list-style: none;
  flex-basis: calc(100% / 4 - 30px);
  background-color: $white;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  margin: 30px 32px;
}
.profession {
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  @include fonts(normal, 16px, 1.187, 0.03em);
  color: $main-text;
}
.creamy-bg {
  background-color: $creamy;
}
